{% extends 'AppBundle::modal-base.html.twig' %}

{% block title %}
  <h4>增加部门</h4>
{% endblock %}

{% block body %}
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">部门名称</label>
    <input type="text" class="form-control" id="exampleInputEmail1" name="name">
  </div>
</form>
{% endblock %}

{% block footer %}
  <button type="button" class="btn btn-default add-department" data-url="{{path('admin_add_department')}}">增加
  </button>
{% endblock %}