{% extends 'AppBundle::base.html.twig' %}

{% set nav = 'user_edit' %}
{% block content_title %} <h4>修改员工信息</h4>{% endblock %}
{% block content_body %}

{{ script(['links/user/js/edit-user.js']) }}
<form id="edit-user-form" class="form-horizontal" method="post" action="{{ path('admin_user_edit',{id:user.id}) }}">
  <div class="edit-user-body">
    <legend class="text-primary">基本信息</legend>
    {% include 'AppBundle:User:edit-user/user-basic-info.html.twig' %}

    <legend class="text-primary">
      家庭状况
    </legend>
    <div class="family">
      {% include 'AppBundle:User:add-user/user-family-info.html.twig' %}
      {% include 'AppBundle:User:edit-user/user-family-info.html.twig' %}
    </div>

    <legend class="text-primary">
      学习经历
    </legend>
    <div class="learn">
      {% include 'AppBundle:User:add-user/user-learn-info.html.twig' %}
      {% include 'AppBundle:User:edit-user/user-learn-info.html.twig' %}
    </div>

    <legend class="text-primary">
      工作履历
    </legend>
    <div class="work">
      {% include 'AppBundle:User:add-user/user-work-info.html.twig' %}
      {% include 'AppBundle:User:edit-user/user-work-info.html.twig' %}
    </div>

    <legend class="text-primary">其他信息</legend>
    {% include 'AppBundle:User:edit-user/user-other-info.html.twig' %}
  </div>
  <div class="footer btn-footer">
    <a href="{{ path('admin_user_present_list') }}" class="btn btn-default">取消</a>
    {# <a href="{{ path('admin_user_add') }}" class="btn btn-primary edit-user">保存</a> #}
    <button class="btn btn-primary" type="submit">保存</button>
  </div>
</form>
{% endblock %}


